.correct {
  background-color: var(--color-green);

  color: black;
  font-weight: 600;
}

.wrong {
  background-color: var(--color-pink);
  filter: brightness(0.8);

  color: white;
  font-weight: 600;
}

.timer {
  width: 100%;
  background-color: var(--color-azulSerenite);
  height: 10px;
  border-radius: 1rem;
  transition: width 1s linear;
}

.container__timer {
  width: 240px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
