@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  /* background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.7'%3E%3Cpolygon fill='%23050822' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230a1044' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23101766' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23151f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231A27AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */

  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --color-pink: #ff3a77;
  --color-azulSerenite: #4ffef2;
  --color-green: #2fc18c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.2) inset;
  transition: background-color 5000s ease-in-out 0s;
}
